
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-4">
		<h2>组合</h2>
		<div class="index-large-box"><image src="/images/lego_300.jpg"/></div>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>创造</h2>
		<div class="index-large-box"><image src="/images/piplus_large.png" width="300"/></div>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>改变</h2>
		<div class="index-large-box"><image src="/images/apple-large.jpg" width="300"/></div>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
</div>