body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-body {
  padding-top:50px;
}

.index-large-box {
  height: 300px;
}

.index-large-box img {
  max-height: 300px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);

	filter: grayscale(100%);

	filter: gray;  
}