body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-body {
  padding-top:50px;
}

.index-large-box {
  height: 300px;
}

.index-large-box image {
  max-height: 300px;
}